/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --title_color : #e53170;
    --bgr_color : #0e0e0e;
    --address_color : #5cc6e6;

}

body{
    background-color: var(--bgr_color);
    font-family: 'Anuphan', sans-serif;
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 80%;
    margin: 10%;
    padding: 6%;
    background-color: white;
    text-align: center;
    padding-top: 2rem;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* header */
h1{
    color: var(--title_color);
    font-size: 3rem;
    margin: 2rem;
}

p{
    font-size: 1.1rem;
}

/* main */
.row{
    display: inline-block;
    width: 100% ;
    margin-top: 2rem;
}

.pic_team{
    width: 6rem;
    float: left;
    margin-right: 1rem;
}

a{
    text-decoration: none;
    color: var(--address_color);
}

.card_team{
    background-color: black;
    color: white;
    text-align: left;
    width: calc((100% / 3) - 1.5rem);
    margin: 0.5rem;
    display: inline-block;
    float: left;
}

.info_team{
    margin-top: 1rem;
}